.container-car-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}

img {
    max-width: 50%;
}

.car-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(121, 32, 32);
    /* background-color: rgb(121, 32, 32); */
}
.name{
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem;
}
.max-speed{
    font-weight: bold;
    margin: 0.5rem;
}
.tank{
    font-size: 1rem;
    margin: 0.5rem;

}
.prize{
    font-weight: bold;
    margin: 0.5rem;
}